<img class="map-photo"  width="100%" src="../../assets/human_anatomy.png" alt="human anatomy photo" usemap="#anatomy-map" (load)="imageResize();">
    <map name="anatomy-map">
        <div class="tooltip">
            <span class="tooltiptext">Abdominals</span>
            <area shape="rect" coords="142,192,203,290" href="Abs">
        </div>
        <div class="tooltip">
            <area shape="poly" coords="147,115,112,107,92,127,87,153,92,160,115,131" href="Delts">
            <area shape="poly" coords="233,108,250,123,257,139,256,164,230,132,196,115" href="Delts">
            <area shape="poly" coords="615,187,588,172,568,138,600,130,612,142" href="Delts">
            <area shape="poly" coords="453,143,468,129,502,142,484,166,452,185" href="Delts">
            <span class="tooltiptext">Deltoids</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="166,188,169,137,152,119,123,125,103,149,118,161,127,184,145,189" (click)="exercise('Pectoralis Major')">
            <area shape="poly" coords="215,187,242,152,229,131,194,118,177,135,178,187,198,189" (click)="exercise('Pectoralis Major')">
            <span class="tooltiptext">Pectoralis Major</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="81,219,89,159,110,158,105,193" href="Bis">
            <area shape="poly" coords="263,218,139,187,133,161,251,160,263,186" href="Bis">
            <span class="tooltiptext">Bicep Brachialis</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="118,106,153,95,149,113" (click)="exercise('Trapezius')">
            <area shape="poly" coords="228,106,190,97,197,113" (click)="exercise('Trapezius')">
            <area shape="poly" coords="532,74,533,217,568,136,594,126,555,107" (click)="exercise('Trapezius')">
            <area shape="poly" coords="529,76,531,213,503,141,470,126,512,108" (click)="exercise('Trapezius')">
            <span class="tooltiptext">Trapezius</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="129,296,170,372,160,407,134,395,117,336" href="Quads">
            <area shape="poly" coords="215,298,177,367,184,407,210,401,227,343" href="Quads">
            <span class="tooltiptext">Quadriceps</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="65,214,47,285,63,298,88,248,84,228,79,197" href="forearms">
            <area shape="poly" coords="285,303,252,236,269,198,284,228,300,293" href="forearms">
            <area shape="poly" coords="439,310,425,304,448,231,469,245" href="forearms">
            <area shape="poly" coords="626,304,594,250,616,229,640,298" href="forearms">
            <span class="tooltiptext">Forearms</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="482,223,507,262,534,222,516,185,495,185,480,181" (click)="exercise('Latissimus Dorsi')">
            <area shape="poly" coords="574,243,555,262,537,214,551,184,583,183,585,204,583,227" (click)="exercise('Latissimus Dorsi')">
            <span class="tooltiptext">Latissimus Dorsi</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="479,288,485,340,528,316,528,290,510,264,487,262" href="Glutes">
            <area shape="poly" coords="584,282,581,264,561,260,536,290,535,313,579,341,585,312" href="Glutes">
            <span class="tooltiptext">Glutes</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="490,340,527,317,523,399,495,399" href="hamstrings">
            <area shape="poly" coords="579,343,536,316,545,399,568,399" href="Hamstrings">
            <span class="tooltiptext">Hamstrings</span>
        </div>
        <div class="tooltip">
            <area shape="rect" coords="490,400,532,479" href="calves">
            <area shape="rect" coords="537,399,576,480" href="calves">
            <span class="tooltiptext">Calves</span>
        </div>
        <div class="tooltip">
            <area shape="poly" coords="465,178,481,171,475,226,455,235,446,191" href="triceps">
            <area shape="poly" coords="617,190,587,171,589,221,601,243,615,224" href="triceps">
            <span class="tooltiptext">Triceps</span>
        </div>
    </map>

